<!DOCTYPE html>
<html lang="en" xmlns: th="http:/www.thymeleaf.org" xmlns:sec="http:/www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <header>
        <div class="container">
            <h2>Modifique Usuario aquí!!</h2>
        </div>
        <br>
    </header>
    <div class="container">
        <!-- El "action" apunta a /periodista/modificar y también le tengo que pasar el id 
        para que sepa qué periodista modificar, sería una variable de preprocesamiento -->
        <form th:action="@{/usuario/modificar/__${usuario.dni}__}" method="post">

            <!-- va a existir un input de "id" pero no lo vamos a ver (por eso tiene "hidden") ya 
                que no lo queremos modificar -->
            <input hidden th:value="${usuario.dni}" name="dni">
            
            <br>
            <div class="form-group">
                <input th:value="${usuario.nombre}" type="text" class="form-group" name="nombre" placeholder="Nombre del Periodista">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>